<section class="container">


    <div class="row">
        <div class="col-12 py-4 fs-2 text-primary">
            <h5>Profile</h5>
        </div>
        <div class="col-3 pe-5">
            <div class="image-box"><img src="https://pixlr.com/studio/template/6264364c-b8cc-4f4f-92d8-28c69a2b756w/thumbnail.webp" alt=""></div>
            <div class="button-box">
                <button>Edit Photo</button>
                <button>Edit Profile</button>
            </div>
        </div>

        <div class="col-8">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ullam deserunt cupiditate amet consequatur.
                Porro, laboriosam culpa harum voluptates iure soluta nihil? Distinctio cumque sunt asperiores itaque
                dolor
                nostrum optio?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique culpa eligendi doloribus totam
                consectetur eaque nemo soluta odit nam ut temporibus vitae id, deserunt ex tenetur, dignissimos illo
                quae amet.</p>
            <button>I Agree</button>
        </div>
    </div>
</section>